@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.input-style {
    border: 1px solid #e2e8f0;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0
}

.textarea-style,
.input-style:focus {
    outline: none;
    border: 1px solid #e2e8f0;
}

.textarea-style {
    border: 1px solid #e2e8f0;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0;
    min-height: 140px;
    max-height: 140px;
    resize: vertical;
    padding: 10px 45px 10px 10px;
    font-size: 15px;
}

.shadowColor {
    box-shadow: 1px 1px 10px rgb(192, 184, 184);
}

.shadowColor2 {
    box-shadow: 0 1px 4px #0000001a;

}

.country-selector-style {
    border: 1px solid #e2e8f0;
    padding: 3px 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0
}

.no-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
}

.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: medium;
    font-weight: 500;
    border-radius: 16px;
    padding: 8px 12px;
    box-shadow: 0 1px 4px #0000001a;
    transition: border-color 0.3s, background-color 0.3s;
}

.input-style2 {
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
}

.input-style2:focus {
    border: none;
    outline: none;
}

.input-style::placeholder {
    font-weight: 500;
}

.input-style2::placeholder {
    font-weight: 500;
}

@keyframes someAnimation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.some {
    animation: spin 1s linear normal;
    display: inline-block;
}

.trackJobsTable {
    border: 1px solid rgb(233, 230, 230);
    border-radius: 15px;
    box-shadow: 0 1px 4px #0000001a;
    background-color: white;
    overflow: hidden;
}


.trackJobsTable table {
    border-collapse: collapse;
    width: 100%;
}

.trackJobsTable td {
    border-top: 1px solid rgb(233, 230, 230);
    padding: 10px;
}

.trackJobsTable th {
    text-align: start;
    background-color: #fafafa;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
}

.trackJobsTable tr:hover {
    background-color: #f3f1f1;
}

.chat-bubble-left {
    position: relative;
    background: #F2F2F2;
    border-radius: 8px 8px 8px 0px;
    padding: 10px 14px;
    line-height: 18px;
    font-size: 14px;
    color: #292929;
}

.chat-bubble-left::before {
    content: '';
    position: absolute;
    left: -13px;
    bottom: 0px;
    width: 5px;
    height: 0;
    border-top: 10px solid transparent;
    border-right: 13px solid #f2f2f2;
}


.chat-bubble-right {
    position: relative;
    background: #C2FDE7;
    max-width: 80%;
    border-radius: 8px 8px 0px 8px;
    padding: 10px 14px;
    line-height: 18px;
    font-size: 14px;
    color: #292929;
}

.chat-bubble-right::before {
    content: '';
    position: absolute;
    right: -13px;
    bottom: 0px;
    width: 5px;
    height: 0;
    border-top: 10px solid transparent;
    border-left: 13px solid #f2f2f2;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: #d3d1d1;
}

::-webkit-scrollbar-thumb {
    background: red;
}

.loader {
    width: 40px;
    aspect-ratio: 4;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background:
        var(--_g) 0% 50%,
        var(--_g) 50% 50%,
        var(--_g) 100% 50%;
    background-size: calc(100%/3) 100%;
    animation: l7 1s infinite linear;
}

@keyframes l7 {
    33% {
        background-size: calc(100%/3) 0%, calc(100%/3) 100%, calc(100%/3) 100%
    }

    50% {
        background-size: calc(100%/3) 100%, calc(100%/3) 0%, calc(100%/3) 100%
    }

    66% {
        background-size: calc(100%/3) 100%, calc(100%/3) 100%, calc(100%/3) 0%
    }
}