@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.input-style {
    border: 1px solid #e2e8f0;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0
}

.textarea-style,
.input-style:focus {
    outline: none;
    border: 1px solid #e2e8f0;
}

.textarea-style {
    border: 1px solid #e2e8f0;
    padding: 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0;
    min-height: 140px;
    max-height: 140px;
    resize: vertical;
    padding: 10px 45px 10px 10px;
    font-size: 15px;
}

.shadowColor {
    box-shadow: 1px 1px 10px rgb(192, 184, 184);
}

.shadowColor2 {
    box-shadow: 0 1px 4px #0000001a;

}

.country-selector-style {
    border: 1px solid #e2e8f0;
    padding: 3px 10px;
    border-radius: 15px;
    width: 100%;
    margin: 8px 0
}

.no-scrollbar::-webkit-scrollbar {
    scrollbar-width: none;
}

.btn-style {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    font-size: medium;
    font-weight: 500;
    border-radius: 16px;
    padding: 8px 12px;
    box-shadow: 0 1px 4px #0000001a;
    transition: border-color 0.3s, background-color 0.3s;
}

.input-style2 {
    padding: 8px;
    width: 100%;
    border: none;
    outline: none;
}

.input-style2:focus {
    border: none;
    outline: none;
}

.input-style::placeholder {
    font-weight: 500;
}
.input-style2::placeholder {
    font-weight: 500;
}
@keyframes someAnimation{
    from{background-color: red}
    to{background-color: yellow}
}
.some{
    /* transform: rotate3d(180); */
    animation-name: someAnimation;
}